[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[dependencies]
centaurus = { version = "0.4.7", features = [
  "axum",
  "logging",
  "sea-orm",
  "uuid",
  "jsonwebtoken",
  "auth",
  "reqwest",
] }
uuid = { version = "1.19.0", features = ["v4"] }
entity = { path = "entity" }
migration = { path = "migration" }
sea-orm = { version = "1.1.19", features = [
  "sqlx-postgres",
  "runtime-tokio-rustls",
] }
axum = { version = "0.8.7", features = ["macros", "ws", "tracing"] }
axum-extra = { version = "0.12.2", features = ["cookie", "typed-header"] }
tracing = "0.1.43"
tower = "0.5.2"
tower-http = { version = "0.6.7", features = ["cors", "trace"] }
tokio = { version = "1.48.0", features = ["signal"] }
http = "1.4.0"
dotenv = "0.15.0"
serde = { version = "1.0.228", features = ["derive"] }
figment = { version = "0.10.19", features = ["env"] }
hyper-util = { version = "0.1.19", features = ["client-legacy"] }
chrono = "0.4.42"
rsa = "0.9.9"
jsonwebtoken = { version = "10.2.0", features = ["rust_crypto"] }
time = "0.3.44"
url = "2.5.7"
reqwest = { version = "0.12.23", features = [
  "json",
  "rustls-tls",
  "charset",
  "http2",
  "system-proxy",
  "multipart",
], default-features = false }
serde_json = "1.0.145"

[features]
# only used for testing purposes
test = []

[[bin]]
name = "backend"
path = "src/main.rs"
